.cards {
  margin-bottom: 32px;
}

.cards__list {
  display: grid;
  /* width: fit-content; */
  margin: 0 auto;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  padding: 0;
}

@media screen and (max-width: 1500px) {
}

@media screen and (max-width: 1440px) {
  .cards__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* @media screen and (max-width: 880px) {
  .cards__list {
    grid-template-columns: 1fr;
  }
} */

@media screen and (max-width: 1000px) {
  .cards {
    margin: 22px auto 0;

    .cards__list {
      grid-template-columns: 1fr;
    }
  }
}
