.cards {
  margin: auto;
  border-bottom: solid 1px;
  border-color: rgba(33, 33, 33, 0.4);
  padding-bottom: 32px;
}

.cards__list {
  display: grid;
  margin: 0 auto;
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  list-style-type: none;
  padding: 0;
}

@media screen and (max-width: 1430px) {
  .cards__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 1000px) {
  .cards {
    margin: 22px auto 0;

    .cards__list {
      grid-template-columns: 1fr;
    }
  }
}
