.footer {
  margin: auto;
  border-top: solid 1px;
  border-color: rgba(0, 0, 0, 40%);
  width: 90%;
}

.footer__copyright {
  color: #212121b2;
  font-family: "Poppins", Arial;
  font-weight: 400;
  opacity: 70%;
  margin: 0 auto;
  padding: 60px 0;
  text-align: center;
}

@media screen and (max-width: 630px) {
  .footer {
    margin: 22px auto 0;
  }
}
