.header {
  display: flex;
  justify-content: center;
  background-color: #fff;
  width: 100%;
  min-height: 46px;
}

.header__logo {
  max-width: 76px;
  height: 26px;
  display: flex;
  align-self: center;
}
