.profile {
  font-family: "Poppins", Arial, sans-serif;
  display: flex;
  margin: 20px auto;
  padding-bottom: 20px;
  justify-content: center;
  width: 90%;
  border-bottom: solid 1px;
  border-color: rgba(0, 0, 0, 40%);
}

.profile__column {
  display: flex;
  flex-direction: column;
  margin: 0 23px 0;
  max-width: 420px;
}

.profile__avatar {
  border-radius: 8px;
  max-width: 190px;
  max-height: 190px;
  object-fit: cover;
}

.profile__name {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  margin: 0 0 12px;
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  max-width: 420px;
}

.profile__description {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  margin: 0;
  max-width: 420px;
  font-size: 16px;
  line-height: 100%;
  opacity: 70%;
  font-weight: 500;
}

.profile__edit-button {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  white-space: nowrap;
  max-width: 107px;
  max-height: 16px;
  border: none;
  background: none;
  opacity: 70%;
  padding: 0;
  margin-top: auto;
  font-family: "Poppins", Arial, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 100%;
  cursor: pointer;
}

.profile__edit-button:hover {
  opacity: 100%;
}

.profile__post-button {
  font-family: "Poppins", Arial, sans-serif;
  font-weight: 500;
  line-height: 100%;
  display: flex;
  align-items: center;
  margin-left: auto;
  background-color: #212121;
  max-width: 149px;
  max-height: 52px;
  color: #fcf5e5;
  border-radius: 8px;
  border: none;
  margin-top: auto;
  padding: 18px 32px;
  gap: 8px;
  font-size: 16px;
  white-space: nowrap;
  cursor: pointer;
}

.profile__post-button:hover {
  opacity: 80%;
}

@media screen and (max-width: 630px) {
  .profile {
    flex-direction: column;
  }

  .profile__avatar {
    max-width: 80px;
    max-height: 80px;
    margin: 0 auto;
  }
  .profile__column {
    margin: auto;
  }

  .profile__name {
    margin: 6px auto;
  }

  .profile__description {
    margin: 0 auto;
  }

  .profile__edit-button {
    margin: 32px auto 20px;
  }

  .profile__post-button {
    justify-content: center;
    max-width: 100%;
    margin: 0;
  }
}
