@media screen and (max-width: 1200px) {
  .card__list {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 880px) {
  .card__list {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 630px) {
  .profile {
    display: flex;
    flex-direction: column;
  }

  .profile__avatar {
    max-width: 80px;
    max-height: 104px;
    margin: 0 auto;
  }

  .profile__name {
    margin: 6px auto;
  }

  .profile__description {
    margin: 0 auto;
  }

  .profile__edit-button {
    margin: 32px auto 20px;
  }

  .profile__post-button {
    justify-content: center;
    max-width: 100%;
    margin: 0;
  }

  .card {
    padding: 0 16px;
  }

  .card__image {
    object-fit: cover;
    max-width: 100%;
    height: 288px;
  }
}
